<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <root>
    <level value="INFO"/>
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger name="Log4NetTest.OtherClass">
    <level value="DEBUG"/>
    <appender-ref ref="ConsoleAppender"/>
  </logger>
</configuration>